name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - uses: gradle/actions/setup-gradle@v5

      - name: Gradle test
        run: >-
          gradle test
          --show-version
          --no-daemon
          --parallel
          --write-locks
          -Pkotlin-lang.version=2.3.0
          -Pkotlin-coroutines.version=1.10.2
          -Pkotlin-logging.version=7.0.14
          -Pspring-boot.version=4.0.1
          -Pspring-dm.version=1.1.7
